#clickButton{
    background-color: blue;
    color: white;
    padding: 15px;

}
.number {
    margin: 15px 20px;
    padding: 15px;
    background-color: red;
    color: white;
    position: fixed;
    bottom: 0;
}

body{
    margin: 0px;
}